<section>
  <div class="info-container">
    <div class="info-content">
      <h1 class="title"><span class="greeting">Hi there! </span><span class="name">I'm Deepak Jose</span></h1>
      <p class="description">
        I am a full-time web developer and a self-taught data science enthusiast. Additionally, I am an educational
        content creator with over 200,000 followers and a writer by hobby.
      </p>
    </div>
    <div class="picture-container">
      <div class="ellipse-border-only">
        <div class="image"></div>
      </div>
      <div class="download-cv">
        <img src="../../../assets/download.png" alt="Download Resume" class="download-icon">
        <h3>Resume</h3>
      </div>
    </div>
  </div>
</section>