.info-container {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
  justify-content: space-between;
  gap: 50px;
  .info-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
    .title {
      transition: color 0.3s ease-in-out;

      background: linear-gradient(
        270deg,
        #13adc7 0%,
        #6978d1 66.67%,
        #945dd6 100%
      );
      display: flex;
      flex-direction: column;
      -webkit-background-clip: text;
      color: transparent;
      span {
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        padding-inline-end: 15px;
      }
    }

    .greeting {
      color: rgba(255, 255, 255, 0.856);
      transition: transform 0.3s ease-in-out;
      display: inline-block;
      &:hover {
        color: white;
        transform: rotate(10deg);
      }
    }
    .name {
      display: inline-block;
      background: inherit;
      -webkit-background-clip: text;
      color: transparent;
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
      &:hover {
        color: white;
        transform: rotate(-10deg);
      }
    }

    .description {
      color: #929eb0;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
        text-shadow: 8px 7px 11px rgb(0 0 0 / 50%);
      }
    }
  }
  .picture-container-cover {
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .picture-container {
      width: 75%;
      height: 75%;
      position: relative;
      border-radius: 50em;
      display: flex;
      justify-content: center;
      .ellipse-border-only {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        transition: box-shadow 2s ease-in-out; /* Add transition property */
        width: 88%;
        height: 88%;
        display: flex;
        justify-content: center;
        align-items: center;

        background: linear-gradient(#0f1624, #0f1624) padding-box,
          linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%)
            border-box;
        border-radius: 50em;
        border: 4px solid transparent;
      }

      .image {
        object-fit: contain;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        background: url("../../../assets/my-pic.jpg");
        background-size: cover;
        transition: transform 1s, filter 1s;
        filter: grayscale(100%);
        box-shadow: #13adc7 0px 7px 29px 0px;
        transition: box-shadow 2s ease-in-out;
        animation: slowBreatheIn 2s infinite alternate
          cubic-bezier(0.4, 0.2, 0.6, 1);
      }
      .download-cv {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        width: 20%;
        height: 20%;
        position: absolute;
        left: -12%;
        top: 40%;
        transform: rotate(-180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(
          270deg,
          #13adc7 0%,
          #6978d1 66.67%,
          #945dd6 100%
        );
        filter: grayscale(100%);
        border-radius: 100px;
        transition: box-shadow 1s ease-in-out, transform 1s ease-in-out,
          filter 1s ease-in-out;

        img {
          height: 25%;
          width: 25%;
        }

        h3 {
          font-size: 0.75em;
          color: white;
        }

        &:hover {
          cursor: pointer;
          box-shadow: #13adc7 0px 0px 35px 5px !important;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 4em;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 1s ease;
          box-shadow: 0 0 10px 40px #13acc76e;
        }

        &:active:after {
          box-shadow: 0 0 0 0 #13acc76e;
          position: absolute;
          border-radius: 4em;
          left: 0;
          top: 0;
          opacity: 1;
          transition: 0s;
        }
      }
    }
    &:hover {
      .picture-container {
        .ellipse-border-only {
          animation: breatheOut 2s infinite alternate
            cubic-bezier(0.4, 0.2, 0.6, 1);
        }

        .image {
          /* ... Your existing styles ... */
          filter: grayscale(0%);
          box-shadow: #000435 -100px 100px 100em 20em;

          animation: breatheIn 2s infinite alternate
            cubic-bezier(0.4, 0.2, 0.6, 1);
          transition: transform 1s, filter 1s; /* Add transition property */
        }

        .download-cv {
          filter: grayscale(0%);
          animation: rotateAroundEllipse 2s forwards,
            cubic-bezier(0.4, 0.2, 0.6, 1);
          box-shadow: #13acc779 0px 0px 29px 0px;
        }
      }
    }
  }
}

//Key Frames
@keyframes slowBreatheIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes breatheIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@keyframes breatheOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes rotateAroundEllipse {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 2500px) {
  .info-container {
    gap: 60px;
    height: 700px;
    .picture-container-cover {
      width: 600px;
      height: 600px;
    }
    .info-content {
      width: 45%;
    }
  }
}
@media screen and (min-width: 2000px) and (max-width: 2500px) {
  .info-container {
    gap: 55px;
    height: 650px;
    .picture-container-cover {
      width: 550px;
      height: 550px;
    }
    .info-content {
      width: 42%;
    }
  }
}
@media screen and (max-width: 1250px) {
  .info-container {
    gap: 40px;
    height: 500px;
    .picture-container-cover {
      width: 475px;
      height: 475px;
    }
    .info-content {
      width: 38%;
    }
  }
}
@media screen and (max-width: 1150px) {
  .info-container {
    gap: 30px;
    height: 475px;
    .picture-container-cover {
      width: 450px;
      height: 450px;
    }
    .info-content {
      width: 36%;
    }
  }
}
@media screen and (max-width: 1050px) {
  .info-container {
    gap: 20px;
    height: 450px;
    .picture-container-cover {
      width: 400px;
      height: 400px;
    }
    .info-content {
      width: 34%;
    }
  }
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    margin: 50px 0px 20px 0px;
    .info-content {
      width: 100%;
      text-align: center;
    }
    .picture-container-cover {
      width: 350px;
      min-height: 350px;
      justify-content: center;
      .picture-container {
        .download-cv {
          left: 40%;
          top: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 300px) {
  .info-container {
    .picture-container-cover {
      width: 250px;
      min-height: 250px;
      justify-content: center;
      .picture-container {
        .download-cv {
          left: 40%;
          top: 80%;
        }
      }
    }
  }
}
// cursor styles

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #13acc7;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid #13acc779;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #13acc7;
}
