<nav class="nav-bar">
  <div class="app-name-container">
    <h1 class="app-name">D.J Portfolio</h1>
    <div class="tooltip-container">
      <div class="triangle-tip"></div>
      <div class="content-cylinder">
        Deepak Joses' Portfolio
      </div>
    </div>
  </div>

  <div class="links">
    <a class="link" (click)="openLink(1)">My Influencer Page</a>
    <a class="link" (click)="openLink(2)">My Blog</a>
  </div>
  <div class="small-screen" (click)="toggleLinks($event)">
    <div class="link-open-button">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

    <div class="small-screen-links" [@fadeInOut]="linkOpen ? 'open' : 'closed'">
      <a class="link" (click)="openLink(1)">My Influencer Page</a>
      <a class="link" (click)="openLink(2)">My Blog</a>

    </div>


  </div>
  <app-social-buttons></app-social-buttons>
</nav>