<div class="soft-skills-container">
  <div class="sub-title">Soft Skills</div>
  <div class="soft-skills-list">
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Communication</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Presentation</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Creative Thinking</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Quick Thinking</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Quick Learning</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Problem Solving</div>
    </div>
    <div class="soft-skill">
      <div class="decorator"></div>
      <div class="skill-name">Domain Knowledge</div>
    </div>
  </div>
</div>