.card-container {
  background: linear-gradient(
    270deg,
    rgb(1 18 20 / 72%) 0%,
    rgb(1 4 22 / 66%) 66.67%,
    rgb(10 1 20 / 65%) 100%
  );
  border-radius: 20px;
  box-shadow: rgb(6 11 20) 0px 3px 8px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 59vw;
  max-width: 400px;
  min-width: 200px;
  transition: transform 0.4s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
  .card-image-container {
    width: 100%;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    padding-top: 40%; /* Set a percentage padding based on the desired aspect ratio */
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .project-title {
    font-size: 1.5rem;
    color: white;
    margin: 20px 0px 0px 0px;
  }
  .project-description {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 75px;
  }
  .action-buttons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    padding: 15px;
  }
}
