// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio_frontend-primary: mat.define-palette(mat.$indigo-palette);
$portfolio_frontend-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$portfolio_frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio_frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio_frontend-primary,
      accent: $portfolio_frontend-accent,
      warn: $portfolio_frontend-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio_frontend-theme);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

:root {
  --primaryColor: #0f1624;
  --primaryColourLight: #121c30;
  --primaryColourDark: #0a101b;
  --primaryGradient: linear-gradient(
    270deg,
    #13adc7 0%,
    #6978d1 66.67%,
    #945dd6 100%
  );
  --roundGradient: linear-gradient(
    310deg,
    #13adc7 0%,
    #6978d1 60%,
    #9239fd 100%
  );
  --primaryGradientDark: linear-gradient(
    270deg,
    #11a0b9 0%,
    #5769cc 66.67%,
    #854dca 100%
  );
  --primaryGradientDarker: linear-gradient(
    270deg,
    #128ba0 0%,
    #4658c0 66.67%,
    #7339bb 100%
  );
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100dvh;
  width: 100dvw;
  font-size: 14px;
  background-color: var(--primaryColor);
}

.app {
  padding: 0px 20%;
}
.sub-title {
  font-size: 2.8rem;
  color: white;
  position: relative;
}

app-root {
  z-index: 1;
  position: relative;
}
.circles {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  z-index: 0;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  mix-blend-mode: multiply;
  background: var(--primaryGradient);
  filter: blur(30px);
  opacity: var(50%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: all 0.15s;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primaryColourDark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryColourLight);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

@media screen and (max-width: 2500px) {
  html,
  body {
    font-size: 16px;

    .app {
      padding: 0px 15%;
    }
  }
}
@media screen and (max-width: 1600px) {
  html,
  body {
    font-size: 14px;
    .app {
      padding: 0px 12%;
    }
  }
}
@media screen and (max-width: 1280px) {
  html,
  body {
    font-size: 12px;
    .app {
      padding: 0px 10%;
    }
  }
}
@media screen and (max-width: 1180px) {
  html,
  body {
    font-size: 11px;
  }
}
@media screen and (max-width: 1080px) {
  html,
  body {
    font-size: 10px;
  }
}
@media screen and (max-width: 910px) {
  html,
  body {
    font-size: 9px;
  }
}
@media screen and (max-width: 830px) {
  html,
  body {
    font-size: 9px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 9px;
    .sub-title {
      display: flex;
      justify-content: center;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
