@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

:root {
  --primaryColor: #0f1624;
  --primaryGradient: linear-gradient(
    270deg,
    #13adc7 0%,
    #6978d1 66.67%,
    #945dd6 100%
  );
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100dvh;
  width: 100dvw;
  font-size: 14px;
}

.app {
  background-color: var(--primaryColor);
  height: 100%;
  padding: 0px 10%;
}
