.social-buttons {
  display: flex;
  gap: 2rem;

  .button {
    cursor: pointer;

    svg {
      height: 2rem;
      width: 2rem;
      &:hover {
        #social_button_facebook stop:nth-child(1),
        #social_button_linkedin stop:nth-child(1),
        #social_button_instagram stop:nth-child(1) {
          stop-color: #31cbe5; /* Change to the desired color */
        }

        #social_button_facebook stop:nth-child(2),
        #social_button_linkedin stop:nth-child(2),
        #social_button_instagram stop:nth-child(2) {
          stop-color: #8796ef; /* Change to the desired color */
        }

        #social_button_facebook stop:nth-child(3),
        #social_button_linkedin stop:nth-child(3),
        #social_button_instagram stop:nth-child(3) {
          stop-color: #b27bf4; /* Change to the desired color */
        }
      }
    }
    svg #social_button_facebook stop,
    svg #social_button_linkedin stop,
    svg #social_button_instagram stop {
      transition: stop-color 0.35s;
    }
  }
}
@media screen and (max-width: 1050px) {
  .social-buttons {
    gap: 0.5rem;
    .button {
      svg {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .social-buttons {
    gap: 0.5rem;
    .button {
      svg {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
